.temps {
	display: flex;
	flex-direction: column;
	align-items: center;

	justify-content: center;
}
.arrow {
	margin-right: 2vw;
	transform: scale(1.5);
}
.feelsLike {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 15%;
}
