/* Vendor Prefixes */
::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder {
	/* Firefox 18- */
	text-align: center;
}

::-moz-placeholder {
	/* Firefox 19+ */
	text-align: center;
}

:-ms-input-placeholder {
	text-align: center;
}

/* Repeated styles */
.accent {
	background: rgba(0, 0, 0, 0.3);
	border: 2px solid rgba(187, 187, 199, 0.35);
	border-radius: 10px;
}
/* Sizing */
.big_font {
	font-size: clamp(5rem, 12vw, 8rem);
}
.med_font {
	font-size: clamp(2rem, 3.25vw, 3.25rem);
}
.reg_font {
	font-size: clamp(1.25rem, 2.5vw, 2rem);
	text-transform: capitalize;
}
.big_font sup {
	font-size: 50%;
}
.col {
	display: flex;
	flex-direction: column;
	text-align: center;
}
/*  */

body {
	overflow: hidden;
	font-family: Optima, sans-serif;
	font-weight: 600;
	background: #0a1f44;
	height: 100%;
	width: 100vw;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418));
}

sup {
	font-size: 60%;

	margin: 0 0 1vw 0;
}
.currentTemp > sup {
	margin: 0 0 3vw 0vw;
}
.main-container {
	background-image: url(./images/furtado.jpg);
	overflow-x: hidden;
	white-space: normal;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	display: flex;

	align-items: center;
	flex-direction: column;
}
.search {
	outline: none;
	width: clamp(75vw, 60vw, 1200px);
	font-size: 1.2rem;
	padding: min(1rem, 2vw);
	border-radius: 20px;
	border: 1px solid #000;
	margin: 5%;
	background: rgba(235, 235, 240, 0.85);
}

.weather_card {
	width: clamp(300px, 85vw, 1200px);
	height: max(1800px, 75%);
	padding: 0 1rem;
	background: rgba(10, 0, 0, 0.431);
	border-radius: 25px;
	color: rgb(235, 235, 240);
	margin-bottom: 50px;
}
section {
	display: flex;
	flex: 1 1 100%;
	align-items: center;
	justify-content: center;
}
section > * {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

.weather-module {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 20px;

	height: 25%;
	font-weight: bold;
	padding: 1rem;
}
.weather-module > * {
	flex: 1 1 100%;
	white-space: nowrap;
}

.weather-module + .weather-module {
	border-top: 0;
	border-radius: 20px;
}
.city_name {
	font-size: clamp(2rem, 8vw, 6rem);
}
.city_name sup {
	padding: 0.5rem;
	font-size: 50%;
	border-radius: 10px;
	border: 2px solid rgba(187, 187, 199, 0.35);
	background: rgba(0, 0, 0, 0.3);
	margin: 0 0 8vw 1vw;
}
.arrow {
	margin-right: 2vw;
	transform: scale(1.5);
}
.offset {
	margin-bottom: -5rem;
}
.details {
	border: 5px solid rgba(187, 187, 199, 0.5);
	border-radius: 20px;
}
.details > * + * {
	border-top: 5px solid rgba(187, 187, 199, 1);
}
